<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="balanjika.smart.sindhu.smartbalanjka" >
    <receiver android:name="Mail.NetworkStateReceiver">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
        </intent-filter>
    </receiver>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name="dbhelper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name=".ForgetPassword" android:configChanges="keyboardHidden|orientation" android:label="@string/register"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name=".NewSigin" android:configChanges="keyboardHidden|orientation" android:label="@string/register"
            android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>
        <activity android:name=".CreateLogin" android:configChanges="keyboardHidden|orientation" android:label="@string/register"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name=".MyProfile" android:configChanges="keyboardHidden|orientation" android:label="@string/register"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.Detailed.Homescreen" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.Detailed.History" android:configChanges="keyboardHidden|orientation" android:label="@string/History"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.Detailed.Contactus" android:configChanges="keyboardHidden|orientation" android:label="@string/Help"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.Detailed.book" android:configChanges="keyboardHidden|orientation" android:label="@string/Books"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.Detailed.BookPdf" android:configChanges="keyboardHidden|orientation" android:label="@string/Books"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.Detailed.PdfView" android:configChanges="keyboardHidden|orientation" android:label="@string/Books"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.Contacts" android:configChanges="keyboardHidden|orientation" android:label="@string/Contacts"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.Each_contact" android:configChanges="keyboardHidden|orientation" android:label="@string/Contacts"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.MatrimonyList" android:configChanges="keyboardHidden|orientation" android:label="@string/Matrimonys"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.BloodList" android:configChanges="keyboardHidden|orientation" android:label="@string/Donar"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.kdList" android:configChanges="keyboardHidden|orientation" android:label="@string/KD"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.healthtipList" android:configChanges="keyboardHidden|orientation" android:label="@string/Health"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.Detailed.ViewProfile" android:configChanges="keyboardHidden|orientation" android:label="@string/Contacts"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.New_HealthTips" android:configChanges="keyboardHidden|orientation" android:label="@string/Health"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.NewKDEvents" android:configChanges="keyboardHidden|orientation" android:label="@string/KD"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.contacts.NewAwardsEvents" android:configChanges="keyboardHidden|orientation" android:label="@string/Awards"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="balanjika.smart.sindhu.Calendar.Events" android:configChanges="keyboardHidden|orientation" android:label="@string/Events"
            android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
    </application>

</manifest>
